::selection{
  background-color: #e5007d;
  color: #fff;
}

.hidden {
  display: none;
}

/*Custom palettes*/

.has-magenta-pekesims-background-color {
    background-color: #e6007d;
}
 
.has-magenta-pekesims-color {
    color: #e6007d;
}

.has-azul-pekesims-background-color {
    background-color: #00aeef;
}
 
.has-azul-pekesims-color {
    color: #00aeef;
}

.has-verde-pekesims-background-color {
    background-color: #23d15d;
}
 
.has-verde-pekesims-color {
    color: #23d15d;
}

.has-verde-pekesims-background-color {
    background-color: #23d15d;
}
 
.has-verde-pekesims-color {
    color: #23d15d;
}

.has-magenta-osc-pekesims-background-color {
    background-color: #91004f;
}
 
.has-magenta-osc-pekesims-color {
    color: #91004f;
}

.has-azul-osc-pekesims-background-color {
    background-color: #0189bc;
}
 
.has-azul-osc-pekesims-color {
    color: #0189bc;
}

.has-verde-osc-pekesims-background-color {
    background-color: #15a445;
}
 
.has-verde-osc-pekesims-color {
    color: #15a445;
}

.has-rojo-background-color {
    background-color: #df1616;
}
 
.has-rojo-color {
    color: #df1616;
}

.has-negro-background-color {
    background-color: #000000;
}
 
.has-negro-color {
    color: #000000;
}           

.has-blanco-background-color {
    background-color: #ffffff;
}
 
.has-blanco-color {
    color: #ffffff;
}

html{
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #292929;
  overflow-x: hidden;

}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: normal;
  text-transform: uppercase; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase; }

h3.cover-title {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

a h3.cover-title:hover{
  text-decoration: none; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-transform: uppercase; }
h4.cover-date{
  font-size: 14px;
}

a {
  color: #000;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

a:hover {
  color: #00AFF1;
  text-decoration: none !important; }

img{
  border-radius: 5px;
}

.wp-block-image img{
  border-radius: 5px;
}

#featured img{
  border-radius: 0;
}

.pks-btn {
  font-weight: 300;
  border-color: #00AFF1;
  background-color: #00AFF1;
  color: #fff; }
  .pks-btn:hover {
    background-color: #FF007C;
    border-color: #FF007C; }

.home-more-btn {
  margin-bottom: 50px;
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.m-0 {
  margin: 0px 0px 0px 0px; }

.p-0 {
  padding: 0px 0px 0px 0px; }

.m-lr-15 {
  padding-left: 15px;
  padding-right: 15px; }

.hamburger-menu{
  padding-left: 40% !important;
}

.hamburger-box, .toggler-menu:before, .toggler-menu:after, .toggler-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background: #000;
  position: absolute; }

.toggler-menu {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 27px 0; }
  .toggler-menu:before {
    content: "";
    top: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .toggler-menu:after {
    content: "";
    bottom: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .toggler-menu span {
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .toggler-menu.active:before {
    -moz-transform: rotate(45deg) translateX(17px) translateY(17px);
    -webkit-transform: rotate(45deg) translateX(17px) translateY(17px);
    -o-transform: rotate(45deg) translateX(17px) translateY(17px);
    -ms-transform: rotate(45deg) translateX(17px) translateY(17px);
    transform: rotate(45deg) translateX(17px) translateY(17px); }
  .toggler-menu.active:after {
    -moz-transform: rotate(-45deg) translateX(17px) translateY(-17px);
    -webkit-transform: rotate(-45deg) translateX(17px) translateY(-17px);
    -o-transform: rotate(-45deg) translateX(17px) translateY(-17px);
    -ms-transform: rotate(-45deg) translateX(17px) translateY(-17px);
    transform: rotate(-45deg) translateX(17px) translateY(-17px); }
  .toggler-menu.active span {
    opacity: 0; }

#header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#pre-header{
  background-color: #e5007d; }

  #pre-header p {
    margin-bottom: 0;
    padding: 5px 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: right; }

#header {
  background-color: #FFFFFF;
  padding: 22.5px 22.5px;
  margin-bottom: 0px; }
  #header .header-logo {
    max-height: 35px; }
  #header #logo-wrapper {
    text-align: center; }
  #header h1 {
    display: inline; }
  #header #main-menu {
    padding-top: 20px;
    margin-bottom: 0px; }
  .current-menu-item{
     font-weight: 700 !important;
  }
    #header #main-menu li {
      margin-right: 25px;
      display: inline-block;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase; }
      #header #main-menu li a {
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        color: #292929; }
        #header #main-menu li a:hover {
          color: #00AFF1;
          text-decoration: none; }
      #header #main-menu li .active {
        color: #FF007C;
        text-decoration: underline; }
  #header .dropdown-menu {
    z-index: 1000; }
#menu-wrapper{
  text-align: center;
}
  #menu-wrapper ul{
      padding-inline-start: 0px;
}

#menu-wrapper .menu-item-has-children{
    position: relative;
  }



#header-mobile {
  margin-top: 25px; }
  #header-mobile .mobile-menu-overlay{
    background: rgba(229, 0, 125, 0.6);
    opacity: 1; 
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 999; }
  #header-mobile #mobile-logo-wrapper {
    text-align: center; }
    #header-mobile #mobile-logo-wrapper .mobile-header-logo {
      max-width: 130px; }
  #header-mobile .mobile-menu-button {
    max-width: 45px; }
    #header-mobile .mobile-menu-button:hover {
      cursor: pointer; }
  #header-mobile .mobile-menu-wrapper {
    width: 50%;
    position: absolute;
    background-color: #e4e4e4;
    z-index: 9999999;
    margin: 0;
    top: 0;
    left: 0;
    overflow-y: auto; 
    height: 100%; }
  .close-menu-wrapper{
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .close-menu-wrapper i {
      cursor: pointer;
    }
  #seach-mobile{
    padding: 0 15px;
  }
  #mobile-menu {
    list-style: none;
    padding-inline-start: 0; }
    #mobile-menu .menu-item {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      background-color: #e4e4e4; }
      #mobile-menu .menu-item a {
        display: block;
        padding: 15px 15px; }
      #mobile-menu .mobile-menu-arrow{
        position: relative;
        float: right;
        right: 0px;
        top: -40px;
        margin-right: 25px;
        font-size: 28px;
        cursor: pointer;
      }
    /*#mobile-menu .menu-item-has-children a:after{
      content: '▼';
      padding-left: 25px;
    }*/
    #mobile-menu .sub-menu li>a:not(:only-child):after {
      content: '';
    }
      #mobile-menu .menu-item .sub-menu {
        background-color: #00AFF1;
        list-style: none;
        padding-inline-start: 15px;
        display: none; }
        #mobile-menu .menu-item .sub-menu li {
        background-color: #00AFF1;
        color: #333333; }
          #mobile-menu .menu-item .sub-menu li a {
          color: #ffffff; }

@media (max-width: 767px) {
  #header-mobile {
    display: block;
  }
  #header {
    display: none;
  }
}


#footer {
  background-color: #00AFF1; }
  #footer .footer-links {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #footer .footer-logo {
    height: 75px; }
  #footer .footer-copy {
    color: #fff;
    font-size: 10px;
    margin-top: 20px; }
  #footer .social-icons-footer a {
    color: #fff; }
    #footer .social-icons-footer a:hover {
      text-decoration: none;
      color: #e0e0e0 }
  #footer .social-icons-footer li {
    display: inline;
    margin-right: 30px;
    font-size: 27px; }
  #footer .social-footer-text {
    color: #fff;
    font-size: 13px; }
  #footer #footer-menu li {
    display: inline;
    margin-right: 50px;
    font-size: 13px; }
    #footer #footer-menu li a {
      color: #fff; }
      #footer #footer-menu li a:hover {
        text-decoration: none;
        color: #e0e0e0; }

#menu-pie{
  padding-left: 0;
}

#featured {
  margin-top: 50px; }
  #featured .featured-row {
    margin-bottom: 25px; }
  #featured .feat-article {
    position: relative; }
    #featured .feat-article .hover-featured {
      position: absolute;
      background-color: rgba(242, 242, 242, 0.5);
      border-radius: 15px;
      top: 0;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      height: 100%;
      width: 100%;
      background-clip: padding-box;
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center;
      opacity: 0;
      -webkit-transition: 500ms all ease-in-out;
      -moz-transition: 500ms all ease-in-out;
      -ms-transition: 500ms all ease-in-out;
      -o-transition: 500ms all ease-in-out;
      transition: 500ms all ease-in-out; }
      #featured .feat-article .hover-featured:hover {
        opacity: 100; }
      #featured .feat-article .hover-featured a {
        color: #292929; }
  #featured .feat-img {
    margin: 0 auto;
    border-radius: 15px !important;
     }

.featured-row h2{
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-weight: 800;
  color: #fff;
  background-color: rgba(229, 0, 125, 1);
  padding: 0 10px;
  border-radius: 5px;
  -webkit-transition: 200ms all ease-in-out;
  -moz-transition: 200ms all ease-in-out;
  -ms-transition: 200ms all ease-in-out;
  -o-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.featured-row h2:hover{
  text-decoration: none;
  background-color: #00AFF1;
}

.featured-text a:hover{
  text-decoration: none;
}


#news-cover .home-blog, #destacados-home .home-blog {
  margin-bottom: 25px; }

#archive #archive-sideon .home-blog {
  margin-bottom: 25px; } 

#archive #archive-sideon .home-blog img {
  border-radius: 15px; }

.archive-title-container{
  background-image: url("https://cdn.pekesims.com/static/rayas_pks2021-30.png");
  background-color: #e5007d;
  margin-bottom: 35px;
}

.archive-title-container h1{
  text-transform: none;
  font-size: 40px;
  color: #fff;
  margin: 15px 0;
}

.post-title-container{
  background-image: url("https://cdn.pekesims.com/static/ondas_pks2021.png");
  background-color: #00AFF1;
  margin-bottom: 35px;
}

.post-title-container h1{
  text-transform: none;
  font-size: 40px;
  margin: 15px 0;
}

#search-results #search-sideon .home-blog {
  margin-bottom: 25px; }


#news-cover .cover-author {
  display: block; }

#news-cover .cover-pic {
  margin-bottom: 15px;
}

#news-cover .cover-pic img, #destacados-home .cover-pic img{
  border-radius: 15px;
}

#news-cover .cover-date {
  margin-top: 15px;
  margin-bottom: 3px;
  color: #e5007d; }

#news-cover .pks-btn {
  font-weight: 300;
  border-color: #00AFF1;
  background-color: #00AFF1;
  color: #fff; }
  #news-cover .pks-btn:hover {
    background-color: #FF007C;
    border-color: #FF007C; }

#news-cover .home-more-btn {
  margin-bottom: 50px;
  text-align: right; }

  .cover-pic img{
    width: 100%;
    height: auto;
  }


.title-home-noticias, .title-home-tutoriales, .title-home-descargas, .title-home-sda, .title-home-destacados
{
  margin-bottom: 0;
  text-transform: none;
  font-size: 30px;

}

.title-home-tutoriales, .title-home-descargas, .title-home-sda, .title-home-destacados{
  color: #fff;
}

.title-home-destacados span{
  background-color: #e5007d;
  border-radius: 5px;
  padding: 5px;
}

.more-news, .more-tutorials, .more-descargas, .more-sda, .title-home-destacados{
  display: block;
  margin-bottom: 25px;
}

.more-tutorials a, .more-descargas a, .more-sda a{
  color: #fff;
}

.home-news-grid{
  margin-bottom: 15px;
}

.articulos-home{
  background-image: url("https://cdn.pekesims.com/static/rayas_pks2021-30.png");
  background-color: #e5007d;
  padding-top:15px;
  padding-bottom: 15px;
}

.descargas-home{
  background-image: url("https://cdn.pekesims.com/static/ondas_pks2021.png");
  background-color: #00AFF1;
  padding-top:15px;
  padding-bottom: 15px;
}

.sda-home{
  background-image: url("https://cdn.pekesims.com/static/puntos_pks2021.png");
  background-color: #23d15d;
  padding-top:15px;
  padding-bottom: 15px;
}

.articulos-home .cover-date, .descargas-home .cover-date, .sda-home .cover-date{
  color: #fff !important;
}

.home-destacados-grid .cover-date{
  margin-top: 15px;
  margin-bottom: 3px;
}

.articulos-home .cover-title, .descargas-home .cover-title, .sda-home .cover-title{
  color: #fff !important;
}

  /*WP CSS*/

  /* Images */


  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  a img.alignright {float:right; margin:0 0 1em 1em}
  a img.alignleft {float:left; margin:0 1em 1em 0}
  a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

  /* Sidebar */

  .phoenix-sidebar .widget-area{
    margin-top: 25px;
  }

  .phoenix-sidebar .widget{
    margin-bottom: 25px;
  }

  .phoenix-sidebar .widget-title{
    color: #e5007d;
    font-weight: 700;
    font-size: 28px;
    text-align: right;
    text-transform: none;
  }

  .phoenix-sidebar .widget_custom_lpw_latest_posts img{
    max-width: 100%;
    height: auto;
  }

  .phoenix-sidebar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: auto;
    height: 100%;
    max-width: 285px;
    background-color: #fff;
  }

  .widget-area img{
    max-width: 100%;
    height: auto;
  }

  .mailchimp-title{
    color: #fff;
  }

  .mailchimp-title{
    color: #e5007d;
    text-transform: none;
    text-align: right;
  }

  .sk-list{
    margin-bottom: 30px;
  }

  .sk-list .entry-title{
    margin-top: 10px;
  }

  /*#mobile-header .mobile-menu .menu-menu-principal-container{
    text-align: center;
  }*/

  .current-menu-item a:not(:only-child){
    color: #e5007d !important;
  }

  /* Submenus */

  #menu-wrapper ul li .sub-menu {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    margin: 0 0;
    border-top: 3px solid #e5007d;
    background: #fcfcfc;
    padding: 10px 0px;
    float: right;
    z-index: 10;
    top: 100%;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
  }

  .sub-menu li{
    width: 100%;
  }

  .sub-menu li .sub-menu li{
    width: 100%;
  }

  #menu-wrapper ul li:hover .sub-menu {
    opacity: 1;
    visibility: visible;

  }

  .sub-menu a {
    padding: 0px 20px;
  }

  .sub-menu a .sub-menu a {
    padding: 0px 20px;
  }

  #menu-wrapper ul li .sub-menu li .sub-menu{
    opacity: 0;
    visibility: hidden;
    display: inline-block !important;
    position: absolute;
    margin: 0 0;
    border-top: none;
    border-left: 3px solid #00AFF1;
    background: #fcfcfc;
    padding: 10px 10px;
    float: left;
    z-index: 10;
    left: 100%;
    top: auto;
    width: auto;
    white-space: nowrap;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
  }

  #menu-wrapper ul li .sub-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #menu-wrapper .sub-menu .sub-menu {
    display: none !important;
  }

  .sub-menu li>a:not(:only-child):after {
       content:"❯";
       font-size: 17px;
       padding-left: 40px;
    }


  #header #main-menu .sub-menu li{
    display: list-item;
    list-style: none;
    text-align: left;
    min-width: max-content;
  }

  #single-sidebar{
    will-change: min-height;
  }

  /* Header */

  .search-icon{
    margin-right: 0 !important;
  }

  .search-icon:hover{
    cursor: pointer;
  }

  .search-close{
    font-size: 30px;
    margin-top: 15px;
  }

  .show-search{
    -moz-transform: translateY(120px);
    -webkit-transform: translateY(120px);
    -o-transform: translateY(120px);
    -ms-transform: translateY(120px);
    transform: translateY(3020px);
  }

  #header-search-row{
    position: fixed;
    display: flex;
    align-items: center;
    top: -3020px;
    bottom: 0;
    left: 0;
    right: 0;
    /*padding: 22.5px 0;*/
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 999;
  }

  

  /* Home */

  #news-cover .cover-pic{
    min-height: 300px;
  }

  #news-cover.cover-date, .home-destacados-grid .cover-date{
    margin-bottom: 3px;
    margin-top: 15px;
    color: #e5007d;
  }

  .pagination{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    display: inline;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .pag-box{
    text-align: center;
  }

  .pagination .page-numbers{
    margin-left: 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

  }

  .pagination .page-numbers:hover{
    color: #00AFF1;
    text-decoration: none;
  }

  .pagination .current{
    color: #e5007d;
  }

  .home-strip{
    margin-bottom: 25px;
    background-color: #e5007d;
    max-height: 160px;
  }

  .home-strip h3{
    color: #fff;
  }

  .home-strip  h4{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #fff;
  }

  .home-strip h4:hover{
    color: #e0e0e0;
  }

/*.destacados-container{
  background-image: url('https://cdn.pekesims.com/static/pekesims_degradado2021.jpg');
}

@media (max-width: 768px) {
 .destacados-container{
    background-image: url('https://cdn.pekesims.com/static/pekesims_degradado2021_vertical.jpg');
  } 
}*/

    /* Posts */

  #individual-content{
    margin-bottom: 50px;
  }

  #individual-article p{
    font-size: 16px;
  }

  #individual-content h1{
    color: #e5007d;
    font-weight: 800;
  }

  #individual-content h2{
    color: #00AFF1;
    font-weight: 800;
  }

  #individual-content h3{
    color: #51b847;
    font-weight: 800;
  }

  #individual-content h4{
    color: #706f6f;
    font-weight: 800;
  }

  #individual-article img{
    max-width: 100%;
    height: auto;
  }

  .phoenix-comments{
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .individual-title{
    color: #fff;
    line-height: 1.35;
  }

  /*.individual-title span{
    background-color: #00AFF1;
  }*/

  #individual-page .individual-intro{
    margin-bottom: 25px;
  }

  .individual-date {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #fff; }

  #individual-content img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  #individual-content a{
    color: #e5007d;
    text-decoration: underline;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  #individual-content a:hover{
    color: #00AFF1;
  }

  #individual-content blockquote{
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 5px solid #000;
    padding: 0 2% 0 2%;
    font-style: italic;
  }

  #individual-content blockquote cite{
    font-weight: 700;
    font-style: normal;
  }

  .comments-container{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 25px;
    background-color: #00AFF1;
  }

  @media (max-width: 767px){
    .comments-container{
      padding: 10px;
    }
  }

  /*.comments-title{
    border-top: 3px solid #e0e0e0;
    margin-top: 25px;
  }*/

  .comments-title h3{
    font-size: 35px;
    color: #fff;
    margin: 0;
  }

  .comments-title span{
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
  }

  .single-comments{
    padding: 25px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 15px;
  }

  .single-categories{
    margin-bottom: 19px;
  }

  .single-categories span{
    color: #fff;
    background-color: #e5007d;
    padding: 4px;
    border-radius: 4px;
    text-transform: none;
    font-size: 15px;
    font-weight: 700;
  }

  .single-categories span a{
    color: #fff;
  }

  .single-categories h4 span a:hover{
    text-decoration: underline;
  }

  #author-info{
    background-color: #fff;
    border: solid 5px #00AFF1;
    border-bottom: 0;
    padding: 25px;
    color: #000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  @media(max-width: 767px){
    #author-avatar{
      margin-bottom: 25px;
    }
  }

  #author-details a{
    color: #000;
  }

  #author-details .written-by-post{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .author-description{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .tw-author{
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
  }

  .ig-author{
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
  }

  /*Game post*/

  .game-info{
    border-radius: 15px;
    background-color: #00AFF1;
    padding: 25px;
    margin-bottom: 35px
  }

  .game-info-data h2{
    margin: 0;
    color: #fff !important;
  }

  .game-info-data h3{
    font-weight: 600 !important;
    margin: 0;
    color: #fff !important;
    text-transform: none;
  }

  .game-info-data p{
    margin-top: 10px;
    color: #fff;
  }

  .game-buy-bt{
    display: inline-block;
    background-color: #e5007d;
    padding: 5px;
    border-radius: 30px;
    height: 35px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .game-buy-bt a{
    color: #fff !important;
    padding: 35px;
    text-decoration: none !important;
    font-weight: 700;
  }

  @media (max-width: 991px){
    .game-info-data, .game-info-cover{
      text-align: center;
    }

    .game-info-cover{
      margin-bottom: 25px;
    }

  }

  /* Archivo */

  .archive-title{
    color: #fff;
  }

  /*.archive-title span{
    background-color: #e5007d;
    padding: 0 20px;
    background-clip: border-box;
  }*/

  .archive-nav{
    margin: 50px 0;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }

.archive-nav a{
    padding-right: 25px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .archive-nav a:hover{
    color: #e5007d;
    text-decoration: none;
  }

  #archive .cover-date {
  margin-bottom: 3px;
  margin-top: 15px;
  color: #e5007d; }

  /* Footer */



  #footer-widget{
    max-height: 110px;
  }

  #footer-widget{
    margin: 50px 0;
  }

  .footer-copy a{
    color: #fff;
  }

  /* 404 Page */

  #notfound-page{
    margin-bottom: 50px;
  }

  /* No results page */

  /*#search-results{
    min-height: 100vh;
  }*/

  .results-not-found h1{
    background-color: #e5007d;
    color: #fff;
    padding: 0 20px;
  }

  /* Search */

  .search-title span{
    color: #fff;
  }

  #search-results .cover-date {
  margin-bottom: 3px;
  color: #e5007d; }

  #search-results .grid-title-module{
    min-height: 25px;
  }

  #search-results .cover-pic{
    min-height: 221px;
  }

  .search-pagination{
    /*margin-top: -50px;*/
    border-top: 3px solid #e0e0e0;
  }


  /*Sidebar posts*/

  .rpwe-thumb{
    border: none !important;
    padding: 0 !important;
  }

  .search-results .grid-title-module{
    margin-bottom: 25px;
  }

  /* Media querys WP */

  @media (max-width: 531px){
    #footer #footer-menu li{
      font-size: 15px;
      margin-bottom: 10px;
      list-style: none;
      display: block;
    }
  }

  @media (max-width: 594px) {
    .home-strip{
      max-height: 180px;
    }

    #news-cover .cover-pic{
      min-height: 150px;
    }
  }

  @media (min-width: 1199px){

    #archive .cover-pic{
      min-height: 221px;
    }

    #news-cover .cover-pic{
      min-height: 150px;
    }

  }

  @media (max-width: 854px) and (min-width: 830px){
    #header #main-menu li{
      font-size: 13px !important;
    }
  }

  @media (min-width: 991px) and (max-width: 1199px){

    #archive .cover-pic{
      min-height: 184px ;
    }

    #archive .grid-title-module{
      min-height: 50px;
    }

    #search-results .cover-pic{
      min-height: 184px;
    }

    #search-results .grid-title-module{
      min-height: 95px;
    }

    #archive .home-blog{
      margin-bottom: 25px;
    }

    #news-cover .cover-pic{
      min-height: 100px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px){

    #archive .cover-pic{
      min-height: 184px;
    }

    #archive .grid-title-module{
      min-height: 90px;
    }

    #search-results .cover-pic{
      min-height: 184px;
    }

    #search-results .grid-title-module{
      min-height: 50px;
    }

    #archive .home-blog{
      margin-bottom: 25px;
    }

    #search-results .home-blog{
      margin-bottom: 25px;
    }

    #news-cover .cover-pic{
      min-height: 115px;
    }

    #news-cover .grid-title-module{
      min-height: 90px;
    }

    #new-cover .home-blog{
      margin-bottom: 50px;
    }

    #news-cover{
      margin-top: 50px;
    }

    .home-strip{
      margin-top: 25px;
    }

  }

@media (max-width: 768px) {
.feat-2, .feat-3
{
  margin-bottom: 25px;
}

#featured{
  margin-top: 100px !important;
}


.post-title-container, .archive-title-container{
      margin-top: 75px;
    }

  #logo-wrapper {
    text-align: left;
    margin-left: 10px; }
  #menu-wrapper {
    padding: 0 0 0 0; }
  #main-menu {
    padding-left: 0; }
    #main-menu li {
      margin-right: 0; }
  .home-blog {
    margin-bottom: 0px !important; }
  .single-article {
    margin-bottom: 25px; } }

@media (max-width: 992px) {
  #footer-menu {
    text-align: center;
    margin-bottom: 50px; }
  #footer-social {
    margin-bottom: 30px; } }

@media (max-width: 1027px) and (min-width: 992px) {
  #footer #footer-menu li {
    margin-right: 25px; } }

@media (max-width: 992px) and (min-width: 768px) {
  #header #main-menu li {
    font-size: 14px; } }

@media (max-width: 829px) and (min-width: 768px) {
  #header #main-menu li {
    margin-right: 10px; } }
